<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container blog-container">
	<div class="content">
		<h1>用户注册</h1>
		<p class="msg"><%if(typeof msg!=="undefined") {%>
			<%= msg%>
		<%}%></p>
		<form action="/user/reg" method="post">
		  <div class="form-group">
		    <label>用 户 名</label>
		    <input type="text" name="username" class="form-control" placeholder="username">
		  </div>
		  <div class="form-group">
		    <label>密　　 码</label>
		    <input type="password" name="password" class="form-control"  placeholder="密码">
		  </div>
		  <div class="form-group">
		    <label for="password2">确认密码</label>
		    <input type="password" name="password2" class="form-control"  placeholder="确认密码">
		  </div>
		  <button type="submit" class="btn btn-default btn-primary">注册</button>
		</form>
	</div>
	<div class="footer text-right">
    	Blog by <a href="https://github.com/strongloop/express">node-express</a>+<a href="http://getbootstrap.com/">bootstrap</a>
	</div>
</div>
</body>
</html>
