<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div style="width:500px;margin:20px auto;padding:20px;border-radius:5px;border:1px solid #ddd">
	<h1>已有<%=users.length%>个用户</h1>
	<table class="table">
		<col />
		<col />
		<col width="100" />
		<tr>
			<th>NO.</th>
			<th>username</th>
		</tr>
		<% users.forEach(function(user, index){ %>
		<tr>
			<td><%= (index+1)%></td>
			<td><%= user.userName%></td>
		</tr>
		<%})%>
	</table>
</div>
</body>
</html>
