<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container blog-container">
	<div class="content">
		<h1>已有<%=users.length%>个用户</h1>
		<table class="table">
			<col />
			<col />
			<col width="100" />
			<tr>
				<th>NO.</th>
				<th>username</th>
			</tr>
			<% users.forEach(function(user, index){ %>
			<tr>
				<td><%= (index+1)%></td>
				<td><%= user.userName%></td>
			</tr>
			<%})%>
		</table>
	</div>
	<div class="footer text-right">
    	Blog by <a href="https://github.com/strongloop/express">node-express</a>+<a href="http://getbootstrap.com/">bootstrap</a>
	</div>
</div>
</body>
</html>
